#empty-element {
  display: none;
}

/* Nav Bar */

.nav-bar {
  /*display: flex;*/
  display: flex;
  position: fixed;
  align-items: center;
  top: 0;
  padding-top: 2rem;
  padding-left: 5rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3);
  margin-top: 0;
}

.nav-bar i {
  font-size: 3rem;
  margin-right: 2rem;
  color: black;
}

.movie-app-header {
  margin: 0;
  display: flex;
  font-size: 2rem;
  color: black;
}

.movie-app-header:hover {
  text-decoration: underline;
  color: black;
}

.search-form {
  display: flex;
  align-items: center;
  margin-left: 5rem;
  font-size: 1.5rem;
  border-radius: 2rem;
}

.search-bar {
  width: 50rem;
  border-radius: .50rem;
}

select {
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  padding: 8px 24px;
  background-image: linear-gradient(to bottom, #fff 50%, #aaa 50%);
  background-size: 100% 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  float: right;
}

select option {
  font-size: 16px;
  background-color: #fff;
  color: #333;
  border-bottom: 1px solid #ccc;
}

select option:last-of-type {
  border-bottom: none;
}

/* New Movie Info */

.movie-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 5rem;
}

.movie-container img:hover {
  margin-left: 0 40px;
  transform: scale(1.2);
  cursor: pointer;
}

.movie-id {
  font-size: 12px;
}

.movie-list {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 300px;
  height: 450px;
  overflow: hidden;
  margin: 7% 1% 1% 7%;
}

.movie-poster {
  width: 100%;
  height: 60%;
}

.movie-title {
  font-size: 22px;
  margin: 10px 0;
}

.movie-genre {
  font-size: 18px;
  color: gray;
}

/* Arrows */

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.icons button {
  margin: 0 10px;
  font-size: 1.5rem;
  width: 5rem;
}

.content-display {
  display: none;
}

/* Searched Movie Info */

.movie-container-info {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 10rem;
}

.movie-poster-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-poster-info {
  height: 300px;
  width: 200px;
}

.crew-information {
  border: 1px solid #ccc;
  padding: 10px;
}

.movie-information {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.movie-title-info {
  font-size: 24px;
  font-weight: bold;
}

.movie-rating-info {
  font-size: 16px;
}

.movie-description-info {
  font-size: 16px;
  margin-top: 20px;
}

.movie-genre-info,
.movie-release-date-info,
.movie-runtime-info {
  font-size: 16px;
  margin-top: 10px;
}

.movie-cast-info {
  font-style: italic;
  font-size: 16px;
  margin-top: 20px;
}

/* Media Query */

@media(max-width: 1300px) {
  .nav-bar {
    padding-left: 2rem;
  }

  .search-form {
    margin-left: 2rem;
  }

  .search-bar {
    width: 40rem;
  }

  .movie-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .icons button {
    font-size: 1.2rem;
  }
}

@media(max-width: 1000px) {
  .nav-bar {
    padding-left: 6rem;
  }

  .search-form {
    margin-left: 2rem;
  }

  .search-bar {
    width: 30rem;
    font-size: 1rem;
  }

  .movie-app-header {
    font-size: 1.3rem;
  }

  .nav-bar i {
    font-size: 1.5rem;
    margin-right: .5rem;
  }

  .movie-container {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 5rem;
  }
}

@media(max-width: 450px) {
  .nav-bar {
    padding-left: 2rem;
  }

  .search-bar {
    width: 15rem;
    font-size: 1rem;
  }


  .movie-app-header {
    display: none;
  }

  .nav-bar i {
    margin-left: 2rem;
    font-size: 2.5rem;
  }

  .movie-container {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 2.5rem;
    margin-top: 9rem;
  }

  select {
    display: none;
  }
}